/* colores */
$primary-color: #333;
$secondary-color: #e7c8c8;

/* estructura */
$header-padding: 1rem;

/* efectos */
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

/* Grilla */
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1600px);


