@import "vars";
@import "../node_modules/bootstrap/scss/bootstrap";

/* Estilos para el carrusel */
.carousel {
    margin-bottom: 60px;
  
    .carousel-inner {
      .carousel-item {
        img { 
            
          height: 300px;
          object-fit: cover;
           width: 300px;
          margin: 0 auto;
        }
      }
    }



   
    .carousel-caption {
      color: $carousel-caption-color;
      width: $carousel-caption-width;
      padding-top: $carousel-caption-padding-y;
      padding-bottom: $carousel-caption-padding-y;
      background-color: rgba(255, 0, 0, 0.7);
      border-radius: 5px;
      box-shadow: $box-shadow;
    }
  
    .carousel-control-prev,
    .carousel-control-next {
      width: $carousel-control-width;
      opacity: $carousel-control-opacity;
  
      &:hover {
        opacity: $carousel-control-hover-opacity;
      }
    }
  
    .carousel-control-prev-icon {
      background-image: $carousel-control-prev-icon-bg;
    }
  
    .carousel-control-next-icon {
      background-image: $carousel-control-next-icon-bg;
    }
  
    .carousel-indicators {
      button {
        width: $carousel-indicator-width;
        height: $carousel-indicator-height;
        border-radius: $carousel-indicator-height;
        background-color: $carousel-indicator-active-bg;
        opacity: $carousel-indicator-opacity;
        margin: $carousel-indicator-spacer;
  
        &.active {
          opacity: $carousel-indicator-active-opacity;
        }
      }
    }
  }

  /* h1 */
  h1{
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px ;
  }

 .h1-pp{
    font-size: 40px;
 }
  
 /* Estilos para el navbar */
 

.navbar {
    background-color: #ffffff;
    padding: 20px;
    border-bottom: 1px solid #333;
  }
  
  // Estilos para el navbar-brand
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
  }
  
  // Estilos para el navbar-toggler
  .navbar-toggler {
    background-color: #f9f9f900;
    border: none;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
  }

  
  
  // Estilos para el navbar-collapse
  .navbar-collapse {
    background-color: #f6cb48;
    padding: 20px;
    border-bottom: 1px solid #333;
  }
  
  // Estilos para el navbar-nav
  .navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  // Estilos para los nav-item
  .nav-item {
    margin-right: 20px;
  }
  
  // Estilos para los nav-link
  .nav-link {
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: none;
  }
  
  // Estilos para los dropdown
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    background-color: #333;
    border: none;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
  }
  
  .dropdown-menu {
    position: absolute;
    background-color: #333;
    padding: 10px;
    border: 1px solid #333;
    display: none;
  }
  
  .dropdown-menu.show {
    display: block;
  }
  
  .dropdown-item {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-bottom: 1px solid #333;
  }
  
  .dropdown-item:hover {
    background-color: #333;
    color: #fff;
  }

  .fondo{
    background-color: #fef4a0;
  }
  
 
/* cards */

.card-img-top{
    margin: 0 auto;
    width: 200px;
}
.card-body{
    font-size: 13px;
    text-align: center;
}

.card-margin{
margin-top: 50px;
margin-bottom: 50px;
}

.row{
    margin: 0 auto;
}

.card{
    border: 3px solid #f6cb48;
}

// Estilos para el formulario
form {
background-color: white;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid $primary-color;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  // Estilos para los campos de entrada
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  // Estilos para el botón de enviar
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #3e8e41;
    }
  }
}




// Estilos para pantallas de hasta 767px de ancho
@media (max-width: 767px) {
    .card {
      width: 100%;
      margin-bottom: 20px;
    }
    .carousel {
        width: 100%;
        padding: 0 20px;
      }
      .carousel-item img {
        width: 100%;
        height: auto;
      }
      .navbar-toggler {
        display: block;
      }
      .navbar-collapse {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #333;
        padding: 20px;
        z-index: 1;
      }
      .navbar-nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .nav-item {
        margin-bottom: 20px;
      }
      .nav-link {
        font-size: 18px;
        font-weight: bold;
      }
      
    
  }
  
  // Estilos para pantallas de más de 768px de ancho
  @media (min-width: 768px) {
    .card {
      display: flex;
      gap: 50px;
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 90px;
    }
    .carousel {
        width: 80%;
        margin: 0 auto;
      }
      .carousel-item img {
        width: 100%;
        height: 400px;
        object-fit: cover;
      }
      form {
        width: 100%;
        padding: 20px;
      }
      input[type="text"],
      input[type="email"],
      textarea {
        width: 100%;
        font-size: 16px;
      }
      button[type="submit"] {
        width: 100%;
        font-size: 16px;
      }
      form {
        width: 80%;
        max-width: 600px;
        margin: 0 auto;
        padding: 40px;
      }
      input[type="text"],
      input[type="email"],
      textarea {
        width: 100%;
        font-size: 18px;
      }
      button[type="submit"] {
        width: 100%;
        font-size: 18px;
      }
      .navbar-toggler {
        display: none;
      }
      .navbar-collapse {
        position: relative;
      }
      .navbar-nav {
        flex-direction: row;
        justify-content: space-between;
      }
      .nav-item {
        margin-right: 20px;
      }
      .nav-link {
        font-size: 16px;
        font-weight: normal;
      }
  }
  
  

footer{
   
    display: flex;
    justify-content: center;
    align-items: center;
    height:90px;
    background-color: $primary-color;
    text-align: center;
}



  

  
  

